name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
    - name: Install apr
      run: sudo apt install -y libapr1-dev libaprutil1-dev libutf8proc-dev
      if: "matrix.os == 'ubuntu-latest'"
    - name: Install apr (Mac OS)
      run: |
        brew install apr-util apr pkg-config utf8proc
        echo "$(brew --prefix)/opt/pkg-config/bin" >> $GITHUB_PATH
        echo "PKG_CONFIG_PATH=/opt/homebrew/opt/apr-util/lib/pkgconfig:/opt/homebrew/opt/apr/lib/pkgconfig" >> $GITHUB_ENV
        pkg-config --list-all
      if: "matrix.os == 'macos-latest'"
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run tests with all features
      run: cargo test --all-features --verbose
